.idea
.vscode
.env
.mix.env
/vendor
node_modules
yarn-error.log
npm-debug.log
/.vagrant
Thumbs.db
.DS_Store
composer.lock
yarn.lock
.phpstorm.*
.update.last
*.log
.gitconfig
.vimrc
.bash*
.ssh
.rnd
.my*
.local
.config
.cache
.npm
*.sql.gz
*.tar.gz
error_log
php_error_log
package-lock.json
laravel-echo-server.*
.phpunit.result.cache
auth.json